@page "/manageLinks"
@using Dipl.Business
@using Dipl.Business.Entities
@using Dipl.Business.Services
@using Dipl.Business.Services.Interfaces
@using Dipl.Common.Util
@using Microsoft.EntityFrameworkCore
@using Dipl.Common.Types

@inject UsersService UsersService
@inject AppDbContext DbContext
@inject IStoreService StoreService
@inject NavigationManager NavigationManager
@inject IJSRuntime JsRuntime

<Container>
    <h1 class="mb-4">Link Management</h1>

    <Tabs SelectedTab="@_selectedTab" SelectedTabChanged="@OnSelectedTabChanged">
        <Items>
            <Tab Name="requestLinks">
                <span><Icon Name="IconName.UserPlus"/> Request Links (@_requestLinksCount)</span>
            </Tab>
            <Tab Name="uploadLinks">
                <span><Icon Name="IconName.FileUpload"/> Upload Links (@_uploadLinksCount)</span>
            </Tab>
        </Items>
        <Content>
            <TabPanel Name="requestLinks">
                @if (_requestLinksCount == 0)
                {
                    <div class="text-center py-8 text-muted">No request links found</div>
                }
                else
                {
                    @foreach (var link in _currentRequestLinks)
                    {
                        <Card Margin="Margin.Is4.FromTop" Shadow="Shadow.Small">
                            <CardHeader>
                                <Row>
                                    <Column>
                                        <CardTitle Size="3">@link.LinkTitle</CardTitle>
                                        <CardSubtitle Margin="Margin.Is3.FromTop">
                                            <Icon Name="IconName.Clock"/>
                                            Created @link.Created
                                        </CardSubtitle>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.IsAuto" Padding="Padding.Is2.FromEnd">
                                        <Div Flex="Flex.JustifyContent.End">
                                            @if (link.IsProtected)
                                            {
                                                <Badge Color="Color.Danger" Margin="Margin.Is1.OnX">
                                                    <Icon Margin="Margin.Is1.FromEnd" Name="IconName.Mail"/>
                                                    Verify recipient
                                                </Badge>
                                            }
                                            @if (link.Salt is not null)
                                            {
                                                <Badge Color="Color.Warning" Margin="Margin.Is1.OnX">
                                                    <Icon Margin="Margin.Is1.FromEnd" Name="IconName.Key"/>
                                                    Password
                                                </Badge>
                                            }
                                            @if (link.NotifyOnUpload)
                                            {
                                                <Badge Color="Color.Primary" Margin="Margin.Is1.OnX">
                                                    <Icon Margin="Margin.Is1.FromEnd" Name="IconName.Bell"/>
                                                    Notifications
                                                </Badge>
                                            }
                                        </Div>
                                    </Column>
                                </Row>
                            </CardHeader>
                            <CardBody>
                                <div class="d-flex flex-wrap gap-2 mb-2">
                                    @if (link.AllFilesSizeLimit != long.MaxValue)
                                    {
                                        <div>
                                            <Icon Margin="Margin.Is1.FromEnd" Name="IconName.FileUpload"/>
                                            <span>Size Limit: @FileUtils.BytesToString(link.AllFilesSizeLimit)</span>
                                        </div>
                                    }
                                    @if (link.AllowedExtensions.Any())
                                    {
                                        <div>
                                            <span>Allowed: @string.Join(", ", link.AllowedExtensions)</span>
                                        </div>
                                    }
                                </div>

                                <Text>@link.Message</Text>

                                <div class="d-flex justify-content-between align-items-center mb-1 mt-2">
                                    <Text>
                                        <span class="font-weight-bold">Upload Slots:</span>
                                        @link.UploadSlots.Count(s => s.Uploaded.HasValue)/@link.UploadSlots.Count() completed
                                    </Text>
                                </div>

                                <div class="mt-2">
                                    <h5>Upload Slots:</h5>
                                    @foreach (var slot in link.UploadSlots)
                                    {
                                        var slotFiles = _slotFiles.GetValueOrDefault($"{link.LinkId}/{slot.RequestLinkUploadSlotId}");
                                        var totalSize = slotFiles?.Sum(f => f.Size) ?? 0;

                                        <div class="d-flex align-items-center bg-light p-3 mb-2 rounded">
                                            <div class="d-flex flex-column flex-grow-1">
                                                <div class="d-flex align-items-center gap-2 mb-1">
                                                    <Icon Name="IconName.Mail"/>
                                                    @if (slot.Uploaded != null)
                                                    {
                                                        <Anchor
                                                            To="@("/link/" + link.LinkId + "/" + slot.RequestLinkUploadSlotId)"
                                                            Class="font-weight-bold">@slot.Email</Anchor>
                                                        <Button Color="Color.Light"
                                                                Clicked="() => DownloadFolder(link.LinkId, slot.RequestLinkUploadSlotId)">
                                                            <Icon Name="IconName.Download"></Icon>
                                                        </Button>
                                                    }
                                                    else
                                                    {
                                                        <span>@slot.Email</span>
                                                    }
                                                    <Button Size="Size.Small" Color="Color.Light"
                                                            Clicked="() => CopyRequestLink(link, slot)">
                                                        <Icon Name="IconName.Copy"></Icon>
                                                    </Button>
                                                </div>
                                                @if (!string.IsNullOrEmpty(slot.Message))
                                                {
                                                    <p class="mb-1">@slot.Message</p>
                                                }
                                                <div class="small text-muted">
                                                    Status: @(slot.Uploaded.HasValue ? $"Uploaded on {slot.Uploaded.Value}" : "Pending")
                                                </div>
                                                @if (slotFiles != null && slotFiles.Any())
                                                {
                                                    <div>
                                                        <div class="text-muted my-1">Total
                                                            size: @FileUtils.BytesToString(totalSize)</div>
                                                        <div class="small text-muted">
                                                            @string.Join(", ", slotFiles.Take(3).Select(f => f.Name))
                                                            @if (slotFiles.Length > 3)
                                                            {
                                                                <span> and @(slotFiles.Length - 3) more...</span>
                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            </div>
                                            <Div Margin="Margin.IsAuto.FromStart" Flex="Flex.InlineFlex" Gap="Gap.Is2">
                                                <ConfirmButton Size="Size.Small" Color="Color.Danger"
                                                               OnConfirm="() => RemoveUploadSlot(link, slot)">Delete
                                                </ConfirmButton>
                                            </Div>
                                        </div>
                                    }
                                </div>
                            </CardBody>
                            <CardFooter>
                                <Div Flex="Flex.JustifyContent.End">
                                    <ConfirmButton Color="Color.Danger" OnConfirm="() => RemoveRequestLink(link)">Delete
                                        link
                                    </ConfirmButton>
                                </Div>
                            </CardFooter>
                        </Card>
                    }

                    <div class="d-flex justify-content-center mt-4">
                        @{
                            var totalRequestPages = (int)Math.Ceiling(_requestLinksCount / (double)PageSize);
                        }
                        @if (totalRequestPages > 1)
                        {
                            <Pagination>
                                <PaginationItem Disabled="@(_requestLinksPage == 0)">
                                    <PaginationLink Clicked="@(() => ChangePage(false, true))" Previous>
                                        <Icon Name="IconName.ChevronLeft"/>
                                    </PaginationLink>
                                </PaginationItem>
                                @for (var i = 0; i < totalRequestPages; i++)
                                {
                                    var pageNumber = i;
                                    <PaginationItem Active="@(_requestLinksPage == pageNumber)">
                                        <PaginationLink Clicked="@(() => ChangePage(pageNumber, true))">
                                            @(pageNumber + 1)
                                        </PaginationLink>
                                    </PaginationItem>
                                }
                                <PaginationItem Disabled="@(_requestLinksPage >= totalRequestPages - 1)">
                                    <PaginationLink Clicked="@(() => ChangePage(true, true))" Next>
                                        <Icon Name="IconName.ChevronRight"/>
                                    </PaginationLink>
                                </PaginationItem>
                            </Pagination>
                        }
                    </div>
                }
            </TabPanel>
            <TabPanel Name="uploadLinks">
                @if (_uploadLinksCount == 0)
                {
                    <div class="text-center py-8 text-muted">No upload links found</div>
                }
                else
                {
                    @foreach (var link in _currentUploadLinks)
                    {
                        var linkFiles = _linkFiles.GetValueOrDefault(link.LinkId.ToString());
                        var totalSize = linkFiles?.Sum(f => f.Size) ?? 0;

                        <Card Margin="Margin.Is4.FromTop" Shadow="Shadow.Small">
                            <CardHeader>
                                <Row>
                                    <Column>
                                        <CardTitle Size="3">
                                            <Anchor To="@("/link/" + link.LinkId)">@link.LinkTitle</Anchor>
                                            <Button Color="Color.Light" Margin="Margin.Is2.FromStart"
                                                    Clicked="() => DownloadFolder(link.LinkId, null)">
                                                <Icon IconSize="IconSize.Small" Name="IconName.Download"></Icon>
                                            </Button>
                                        </CardTitle>
                                        <CardSubtitle>
                                            <Icon Name="IconName.Clock"/>
                                            Created @link.Created
                                        </CardSubtitle>
                                    </Column>
                                    <Column ColumnSize="ColumnSize.IsAuto" Padding="Padding.Is2.FromEnd">
                                        <Div Flex="Flex.JustifyContent.End">
                                            @if (link.Salt is not null)
                                            {
                                                <Badge Color="Color.Warning" Margin="Margin.Is1.OnX">
                                                    <Icon Margin="Margin.Is1.FromEnd" Name="IconName.Key"/>
                                                    Password
                                                </Badge>
                                            }
                                        </Div>
                                    </Column>
                                </Row>
                            </CardHeader>
                            <CardBody>
                                <Text>@link.Message</Text>
                                @if (linkFiles != null && linkFiles.Any())
                                {
                                    <div>
                                        <div class="text-muted mb-1">Total
                                            size: @FileUtils.BytesToString(totalSize)</div>
                                        <div class="small text-muted">
                                            @string.Join(", ", linkFiles.Take(3).Select(f => f.Name))
                                            @if (linkFiles.Length > 3)
                                            {
                                                <span> and @(linkFiles.Length - 3) more...</span>
                                            }
                                        </div>
                                    </div>
                                }
                            </CardBody>
                            <CardFooter>
                                <Div Flex="Flex.JustifyContent.End">
                                    <ConfirmButton Color="Color.Danger" OnConfirm="() => RemoveUploadLink(link)">Delete
                                        link
                                    </ConfirmButton>
                                </Div>
                            </CardFooter>
                        </Card>
                    }

                    <div class="d-flex justify-content-center mt-4">
                        @{
                            var totalUploadPages = (int)Math.Ceiling(_uploadLinksCount / (double)PageSize);
                        }
                        @if (totalUploadPages > 1)
                        {
                            <Pagination>
                                <PaginationItem Disabled="@(_uploadLinksPage == 0)">
                                    <PaginationLink Clicked="@(() => ChangePage(false, false))" Previous>
                                        <Icon Name="IconName.ChevronLeft"/>
                                    </PaginationLink>
                                </PaginationItem>
                                @for (var i = 0; i < totalUploadPages; i++)
                                {
                                    var pageNumber = i;
                                    <PaginationItem Active="@(_uploadLinksPage == pageNumber)">
                                        <PaginationLink Clicked="@(() => ChangePage(pageNumber, false))">
                                            @(pageNumber + 1)
                                        </PaginationLink>
                                    </PaginationItem>
                                }
                                <PaginationItem Disabled="@(_uploadLinksPage >= totalUploadPages - 1)">
                                    <PaginationLink Clicked="@(() => ChangePage(true, false))" Next>
                                        <Icon Name="IconName.ChevronRight"/>
                                    </PaginationLink>
                                </PaginationItem>
                            </Pagination>
                        }
                    </div>
                }
            </TabPanel>
        </Content>
    </Tabs>
</Container>

<DownloadWithPasswordModal @ref="_downloadWithPasswordModal"></DownloadWithPasswordModal>

@code {
    private string _selectedTab = "requestLinks";
    private User _currentUser = null!;
    private int _requestLinksPage;
    private int _uploadLinksPage;
    private const int PageSize = 10;

    private int _requestLinksCount;
    private int _uploadLinksCount;
    private List<RequestLink> _currentRequestLinks = [];
    private List<UploadLink> _currentUploadLinks = [];
    private Dictionary<string, FileInfo[]> _slotFiles = new();
    private Dictionary<string, FileInfo[]> _linkFiles = new();

    private string _tooltipText = "";
    private DownloadWithPasswordModal _downloadWithPasswordModal = null!;

    protected override async Task OnInitializedAsync()
    {
        _currentUser = await UsersService.GetCurrentUser();
        await LoadCounts();
        await ReloadData();
    }

    private async Task LoadCounts()
    {
        _requestLinksCount = await DbContext.RequestLinks
            .CountAsync(link => link.CreatedById == _currentUser.UserId);

        _uploadLinksCount = await DbContext.UploadLinks
            .CountAsync(link => link.CreatedById == _currentUser.UserId);
    }

    private async Task ChangePage(bool next, bool isRequestLinks)
    {
        if (isRequestLinks)
        {
            var maxPage = (int)Math.Ceiling(_requestLinksCount / (double)PageSize) - 1;
            if (next && _requestLinksPage < maxPage)
                _requestLinksPage++;
            else if (!next && _requestLinksPage > 0)
                _requestLinksPage--;
            await LoadRequestLinksPage();
        }
        else
        {
            var maxPage = (int)Math.Ceiling(_uploadLinksCount / (double)PageSize) - 1;
            if (next && _uploadLinksPage < maxPage)
                _uploadLinksPage++;
            else if (!next && _uploadLinksPage > 0)
                _uploadLinksPage--;
            await LoadUploadLinksPage();
        }
    }

    private async Task ChangePage(int pageNumber, bool isRequestLinks)
    {
        if (isRequestLinks)
        {
            _requestLinksPage = pageNumber;
            await LoadRequestLinksPage();
        }
        else
        {
            _uploadLinksPage = pageNumber;
            await LoadUploadLinksPage();
        }
    }

    private async Task OnSelectedTabChanged(string name)
    {
        _selectedTab = name;
        // Reset pagination when switching tabs
        if (name == "requestLinks")
        {
            _requestLinksPage = 0;
            await LoadRequestLinksPage();
        }
        else
        {
            _uploadLinksPage = 0;
            await LoadUploadLinksPage();
        }
    }

    private async Task ReloadData()
    {
        await LoadCounts();
        if (_selectedTab == "uploadLinks")
        {
            await LoadUploadLinksPage();
        }
        else
        {
            await LoadRequestLinksPage();
        }
    }

    private async Task LoadRequestLinksPage()
    {
        _currentRequestLinks = await DbContext.RequestLinks
            .Where(link => link.CreatedById == _currentUser.UserId)
            .Include(requestLink => requestLink.UploadSlots)
            .OrderByDescending(x => x.Created)
            .Skip(_requestLinksPage * PageSize)
            .Take(PageSize)
            .ToListAsync();

        await LoadRequestLinksFileInfo();
    }

    private async Task LoadUploadLinksPage()
    {
        _currentUploadLinks = await DbContext.UploadLinks
            .Where(link => link.CreatedById == _currentUser.UserId)
            .OrderByDescending(x => x.Created)
            .Skip(_uploadLinksPage * PageSize)
            .Take(PageSize)
            .ToListAsync();

        await LoadUploadLinksFileInfo();
    }

    private async Task LoadRequestLinksFileInfo()
    {
        _slotFiles.Clear();
        foreach (var link in _currentRequestLinks)
        {
            foreach (var slot in link.UploadSlots.Where(s => s.Uploaded.HasValue))
            {
                var files = await StoreService.ListFolder($"{link.LinkId}/{slot.RequestLinkUploadSlotId}");
                if (files != null)
                {
                    _slotFiles[$"{link.LinkId}/{slot.RequestLinkUploadSlotId}"] = files;
                }
            }
        }
    }

    private async Task LoadUploadLinksFileInfo()
    {
        _linkFiles.Clear();
        foreach (var link in _currentUploadLinks.Where(l => l.Uploaded.HasValue))
        {
            var files = await StoreService.ListFolder(link.LinkId.ToString());
            if (files != null)
            {
                _linkFiles[link.LinkId.ToString()] = files;
            }
        }
    }

    private async Task RemoveRequestLink(RequestLink link)
    {
        await StoreService.DeleteDirectory(link.LinkId.ToString(), true);
        DbContext.RequestLinks.Remove(link);
        await DbContext.SaveChangesAsync();
        await ReloadData();
    }

    private async Task RemoveUploadLink(UploadLink link)
    {
        await StoreService.DeleteDirectory(link.LinkId.ToString(), true);
        DbContext.UploadLinks.Remove(link);
        await DbContext.SaveChangesAsync();
        await ReloadData();
    }

    private async Task RemoveUploadSlot(RequestLink parentLink, RequestLinkUploadSlot slot)
    {
        await StoreService.DeleteDirectory($"{parentLink.LinkId}/{slot.RequestLinkUploadSlotId}", true);
        parentLink.UploadSlots.Remove(slot);
        await DbContext.SaveChangesAsync();
        await ReloadData();
    }

    private async Task CopyRequestLink(RequestLink link, RequestLinkUploadSlot slot)
    {
        var linkText = $"{NavigationManager.BaseUri}request/{link.LinkId}/{slot.RequestLinkUploadSlotId}";
        await JsRuntime.InvokeVoidAsync("navigator.clipboard.writeText", linkText);
        _tooltipText = "Copied!";
    }

    private async Task DownloadFolder(Guid linkId, Guid? slotId)
    {
        var url = slotId is null ? $"/download/fromUpload/{linkId}" : $"/download/fromRequest/{linkId}/{slotId}";
        var passwordProtected = slotId is null
            ? _currentUploadLinks.First(x => x.LinkId == linkId).Salt is not null
            : _currentRequestLinks.First(x => x.LinkId == linkId).Salt is not null;
        if (passwordProtected)
        {
            _downloadWithPasswordModal.DownloadUrl = url;
            await _downloadWithPasswordModal.ShowModal();
        }
        else
        {
            await JsRuntime.InvokeVoidAsync("window.downloadPasswordProtectedFile", url);
        }
    }
}
